<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Use the geocoder without a map</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="/css/materialize.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <h2 class="col s12">Create new Container</h2>
        </div>
        <div class="row">
            <form class="col s12" action="api/container" method="POST" enctype="multipart/form-data">
                <div class="input-field col s12">
                    <select id="defaultContainer">
                        <option value="noDefault">No Default</option>
                        <% containerInfo.forEach(option => { %>
                        <option value="<%= option.name %>"><%= option.name %></option>
                        <%})%>
                    </select>
                    <label for="defaultContainer">Default Container</label>
                </div>
                <div class="input-field col s12">
                    <input id="name" type="text" name="name" class="validate" required>
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s12">
                    <select id="material" name="material">
                        <option value="Plastique">Plastique</option>
                        <option value="Verre">Verre</option>
                        <option value="Inox">Inox</option>
                    </select>
                    <label for="material">Material</label>
                </div>
                <div class="input-field col s12">
                    <input type="number" name="credit" id="credit" class="validate">
                    <label for="credit">Credit</label>
                </div>
                <div class="input-field file-field col s12">
                    <div class="btn green darken-1">
                        <span>File</span>
                        <input name="file" type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="File to upload">
                    </div>
                </div>

                <input type="hidden" name="partnerId" value="<%= partnerId %>">
                <div class="row">
                    <button class="col s12 waves-effect waves-light btn green darken-1">Create</button>
                </div>
            </form>
        </div>

    </div>


    <script src="/js/bin/materialize.js"></script>
    <script src="/js/bin/materialize-init.js"></script>
    <!-- <script> let container = <% - JSON.stringify(containerInfo) %>;</script> -->
    <script src="/js/defaultContainer.js"></script>
</body>

</html>