<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Use the geocoder without a map</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />




</head>
<body>

<form action="/api/container/<%= containerInfo._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <label for="name">Name</label>
    <input value="<%= containerInfo.name %>" type="text" name="name" class="validate" required>
    <label for="material">material</label>
    <select name="material">
      <option value="Plastique" <% if(containerInfo.material=="Plastique") {%> selected <%} %>>Plastique</option>
      <option value="Verre" <% if(containerInfo.material=="Verre") {%> selected <%} %>>Verre</option>
      <option value="Inox" <% if(containerInfo.material=="Inox") {%> selected <%} %>>Inox</option>
    </select>
    <label for="credit">Credit</label>
    <input value="<%= containerInfo.credit %>"  type="number" name="credit" class="validate">
    <div class="file-field input-field">
        <div class="btn blue-grey darken-3">
          <span>Image</span>
          <input type="file" name="image">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" value="<%= containerInfo.image.filename %>">
        </div>
    </div>


<button class="waves-effect waves-light btn blue-grey darken-3">Edit</button>
</form>


<body>
</body>
</html>

