
// $primary-color: rgba(175, 9, 246, 0.976);
$primary-color: rgba(0, 188, 66, 0.976);

$secondary-color: #fff;

$base-grey: rgba(203, 203, 203, 0.976);

$link-color: rgba(0, 89, 244, 0.976);

$base-black: rgba(0, 0, 0, 0.976);