<html>
<head>
  <meta charset="utf-8">
  <title>QR code scanner & generator</title>
  <script src="/js/jsQR.js"></script>
</head>
<body>
  <div id="loadingMessage">Unable to access video stream</div>
  <canvas id="canvas" hidden></canvas>

  <div id="informations" hidden>
    <span id="action"></span>
    <div>
      <p>Partenaire</p>
      <span id="partner"></span>
    </div>
    <div>
      <p>Contenant</p>
      <span id="container"></span>
    </div>
    <button onclick="validation()" id="validation">Confirmer</button>
</div>

  <script src="/js/QR.js"></script>
</body>
</html>