<html>
<head>
  <meta charset="utf-8">
  <title>QR code scanner & generator</title>
  <script src="/js/jsQR.js"></script>
</head>
<body>
  <div id="loadingMessage">Unable to access video stream</div>
  <canvas id="canvas" hidden></canvas>
  <div id="output" hidden>
    <div id="outputMessage">No QR code detected.</div>
    <div hidden><b>Data:</b> <span id="outputData"></span></div>
  </div>
  <script src="/js/QR.js"></script>
</body>
</html>