<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="api/partner" method="POST" >
        
        <select name="action">
            <option value="get">Emprunt</option>
            <option value="reuse">Réutilisation</option>
            <option value="return">Retour</option>
        </select>
        <select name="containerId">
        <% containerInfo.forEach((container)=>{%>
            <option value="<%= container._id%>"><%= container.name%></option>
        <%})%>
        </select>
        <input type="hidden" name="partnerId" id="partnerId" value="<%= partnerId%>" required>

    <button class="waves-effect waves-light btn blue-grey darken-3">Create</button>
    </form>


</body>
</html>