<html>
<head>
  <meta charset="utf-8">
  <title>QR code scanner & generator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/js/jsQR.js"></script>
  <link rel="stylesheet" href="/css/qrcode.css">
  <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- NARBAR -->
  <%- include('../../layouts/navbar.ejs') -%>
  <!-- MAIN -->
  <main class="container">
    <div hidden id="loadingMessage">Unable to access video stream</div>
    <div class="canvas-wrapper">
      <h2 class="sub_page-heading">Please scan your QR code</h2>
      <canvas id="canvas" hidden></canvas>
    </div>
  
    <div id="informations">
      <!-- <span id="action"></span>
      <div class="partner-info">
        <p>Partenaire:</p>
        <span id="partner"> The Barn Restaunrant</span>
      </div>
      <div class="container-info">
        <p>Contenant:</p>
        <span id="container"> Green Lunch Box </span>
      </div> -->
      <button onclick="validation()" id="validation">Confirmer</button>
  </div>
  </main>
  
  <script src="/js/loading.js"></script>
  <script src="/js/QR.js"></script>
</body>
</html>