
<nav id="navbar">
   <ul>
      <li><a href="/partner"><i class="fas fa-home"></i></a></li>
      <li><a href="/map"><i class="fas fa-map-marked-alt"></i></a></li>
      <li><a href="/qrcode"><i class="fas fa-qrcode"></i></a></li>
      <li><a href="/point"><i class="fas fa-medal"></i></a></li>
      <li><a href="/myaccount"><i class="fas fa-user-cog"></i></a></li>
   </ul>
</nav>