<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<body>

   
                    <form action="session/login" method="POST">
                        <div>
                            <div>
                                <label for="InputEmail" >Email Address</label>
                                <input type="email"  placeholder="Enter Email" name="email"> </div>
                            <div>
                                <label for="InputPassword">Password</label>
                                <input type="password" placeholder="Password" name="password"> </div>
                        </div>
                        <button type="submit">Login</button>
                    </form>
               


                    <form action="session/signup" method="POST">
                        <div>
                            <div>
                                <label for="firstname">First Name</label>
                                <input type="text"placeholder="First Name" name="firstname"> </div>
                            <div>
                                <label for="lastname">Last Name</label>
                                <input type="text" placeholder="Last Name" name="lastname"> </div>
                            <div>
                                <label for="email">Email Address</label>
                                <input type="email" placeholder="Enter Email" name="email"> </div>
                            <div>
                                <label for="password1">Password</label>
                                <input type="password" placeholder="Password" name="password"> </div>
                            <div>
                                <label for="confirmPassword">Password</label>
                                <input type="password" placeholder="Confirm password" name="confirmPassword"> </div>
                        </div>
                        <button type="submit">Register</button>
                    </form>
                
 
</body>

</html>