<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Use the geocoder without a map</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/partner.css">

</head>

<body>
    <a class="backBtn" onclick="window.history.back();"><i class="fas fa-arrow-left"></i></a>
    <div class="container">
        <div class="row">
            <h2 class="sub_page-heading">Changer son mot de passe</h2>
        </div>
        <div class="row">
            <form action="/api/user/password/<%= userId %>?_method=PUT" method="POST">
                <label for="password">Ancien mot de passe</label>
                <input  type="password" name="oldPassword" class="validate">
                <label for="password">Nouveau mot de passe</label>
                <input  type="password" name="password" class="validate">
                <label for="password">Confirmer le mot de passe</label>
                <input  type="password" name="confirmPassword" class="validate">
                <button class="col s12 waves-effect waves-light btn green darken-1">Changer</button>
            </form>
        </div>

    </div>


    <script src="/js/bin/materialize.js"></script>
    <script src="/js/bin/materialize-init.js"></script>
</body>

</html>