<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Use the geocoder without a map</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />



</head>
<body>
<form action="api/signup" method="POST">
    <label for="firstname">Firstname</label>
    <input type="text" name="firstname" class="validate" required>
    <label for="lastname">Lastname</label>
    <input type="text" name="lastname" class="validate">
    <label for="email">Email</label>
    <input type="email" name="email" class="validate">
    <label for="password">Password</label>
    <input type="password" name="password" class="validate">
    
<button class="waves-effect waves-light btn blue-grey darken-3">Create</button>
</form>



</body>
</html>
