<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Use the geocoder without a map</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />


<link rel="stylesheet" href="/public/css/materialize.css">

</head>
<body>

<form action="/api/user/<%= userInfo._id %>?_method=PUT" method="POST">
    <label for="firstname">Firstname</label>
    <input value="<%= userInfo.firstname %>" type="text" name="firstname" class="validate" required>
    <label for="lastname">lastname</label>
    <input value="<%= userInfo.lastname %>" type="text" name="lastname" class="validate">
    <label for="email">Email</label>
    <input value="<%= userInfo.email %>"  type="email" name="email" class="validate">
    <label for="password">Password</label>
    <input value="<%= userInfo.password %>" type="password" name="password" class="validate">
    

<button class="waves-effect waves-light btn blue-grey darken-3">Edit</button>
</form>


<script src="/public/js/bin/materialize.js"></script>
<script>
    M.AutoInit();

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
    });
</script>
</body>
</html>

