<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/materialize.css">
</head>
<body>
    
    <ul class="collection with-header">
        <li class="collection-header"><h4><%= userInfo.firstname %></h4></li>
        <li class="collection-item"><%= userInfo.lastname %></li>
        <li class="collection-item"><%= userInfo.email %></li>
    </ul>
    
    <a href="/updateUser/<%= userInfo._id %>">Edit</a>
    <a href="/api/user/delete/<%= userInfo._id %>">Delete</a>

    <script src="/public/js/bin/materialize.js"></script>
    <script>
        M.AutoInit();

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, options);
        });
    </script>
</body>
</html>