
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    
    a {
        text-decoration: none;
        &:visited {
            color: $link-color;
        }

        &:link {
            color: $link-color;
        }
    }

    li {
        list-style: none;
    }

    &:focus {
        outline: none;
    }
    
    
}


