
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    
    a {
        text-decoration: none;
        &:visited {
            color: $link-color;
        }

        &:link {
            color: $link-color;
        }
    }

    li {
        list-style: none;
    }

    &:focus {
        outline: none;
    }

    img {
        width: 100%;
        height: 100%;
        display: block;
     }
}

body {
    background: lighten($base-grey, 17%);
    font-family: $primary-font;
}
