@import "../base/typography";
@import "../utilities/variables";
@import "../utilities/mixins";
@import "../components/all-components";
@import "../utilities/functions";
@import "../base/global";
@import "../layouts/navbar";

body {
   .container {
      width: 90%;
      margin-bottom: 70px;
      .image-wrapper {
         img {
            border-radius: $card-radius;
         }
      }

      .container-info {
         margin: 2rem 0;
         border-radius: $card-radius;
         background: $secondary-color;

         .container-name,
         .container-credit,
         .container-material {
            text-transform: uppercase;
            font-weight: 600;
            padding: 0.7rem;
            margin-left: 1rem;
         }

         .container-credit {
            font-size: 1.1rem;
            font-weight: 600;
         }
      }
      a {
         color: $secondary-color;
         @extend %button-global;
      }
   }
}
