@import "../base/typography";
@import "../utilities/variables";
@import "../utilities/mixins";
@import "../components/all-components";
@import "../utilities/functions";
@import "../base/global";
@import "../layouts/navbar";


.container {
    height: 100vh;
    .wrapper {
        display: grid;
        grid-template-rows: 60vh 40vh;

        .logo {
            grid-area: 0/0/1/1;
            @include flex(row, center, center);

            img {
                width: 50%;
                height: auto;
                border-radius: 100%;
            }
        }

        .button {
            grid-area: 0/1/1/1;
            @include flex(row, space-around, center);


            %button {
                letter-spacing: 2px;
                font-size: 0.7rem;
                padding: 0.5rem;
                width: 40%;
                text-align: center;
                border-radius: 0.5rem;
                text-transform: uppercase;
            }

            &-login {
                @extend %button;
                border: 2px solid $primary-color;
                background: $secondary-color;
                color: $primary-color;
            }

            &-register {
                @extend %button;
                border: 2px solid $primary-color;
                background: $primary-color;
                color: $secondary-color;
            }
        }
    }

    .error-container {
        padding: 12rem 0 0 0;
        color: black;
        text-align: center;
        font-size: 1.3rem;
        .error {
            color: red;
            font-size: 2rem;
            padding: 2rem 0;
        }
    }
}