@import "../base/typography";
@import "../utilities/variables";
@import "../utilities/mixins";
@import "../components/all-components";
@import "../utilities/functions";
@import "../base/global";
@import "../layouts/navbar";
body {
    .title {
        font-size: $title-fontSize - 0.3rem;
        background: $primary-color;
        padding: 1rem 0;
        color: $secondary-color;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
    }
}
.container {
    margin-bottom: 60px;
    
    #user-info {
        @include flex(column, center, center);
        .name-level, .user-point, .environment {
            @include flex(column, center, center);
            margin: 2rem 0;
        }
        .name, .point, .effect {
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 600;
        }
        .demo-only {
            width: 10rem;
            height: 10rem;
            border-radius: 100%;
            border: 15px solid $primary-color;
            margin-bottom: 1rem;
        }
    }

    #account-link {
        @include flex(column, center, center);

        a {
            @extend %button-global;
            border: 2px solid $primary-color;
            width: 80%;
            margin: 0.7rem auto;
            color: $primary-color;
            font-weight: 600;
            &:nth-child(4) {
                color: $secondary-color;
                background: $primary-color;
            }
        }
    }
}
