<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Use the geocoder without a map</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

<link
rel="stylesheet"
href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
type="text/css"
/>


</head>
<body>
<form action="api/partner" method="POST" enctype="multipart/form-data">
    <label for="name">Name</label>
    <input type="text" name="name" class="validate" required>
    <label for="phoneNumber">phoneNumber</label>
    <input type="text" name="phoneNumber" class="validate">
    <label for="website">Website</label>
    <input type="text" name="website" class="validate">
    <input type="hidden" name="idUser" value="noId" required>
    <label for="chain">Chain</label>
    <input type="text" name="chain" class="validate">
    <p><label for="sport">Food Type</label></p>
    <select name="foodType">
        <option value="" disabled selected></option>
        <option value="vietnamien">Vietnamien</option>
        <option value="belge">Belge</option>
        <option value="thailandais">Thaïlandais</option>
        <option value="italien">Italien</option>
        <option value="francais">Français</option>
    </select>
    <label for="image">Image</label>
    <input type="file" name="image">
    
    <label for="monday">Monday</label>
    <input type="text" name="schedule.monday" class="validate">
    <label for="tuesday">Tuesday</label>
    <input type="text" name="schedule.tuesday" class="validate">
    <label for="wednesday">Wednesday</label>
    <input type="text" name="schedule.wednesday" class="validate">
    <label for="thursday">Thursday</label>
    <input type="text" name="schedule.thursday" class="validate">
    <label for="friday">Friday</label>
    <input type="text" name="schedule.friday" class="validate">
    <label for="saturday">Saturday</label>
    <input type="text" name="schedule.saturday" class="validate">
    <label for="sunday">Sunday</label>
    <input type="text" name="schedule.sunday" class="validate">
    <p>Address</p>
    <div id="geocoder"></div>
    <input type="hidden" name="address" id="address" required>
<button class="waves-effect waves-light btn blue-grey darken-3">Create</button>
</form>

<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<script src="/js/geocoder.js"></script>
<body>
</body>
</html>
