
<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8" />
   <title>Local search app</title>
   <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
   <link href='/css/style.css' rel='stylesheet' />
   <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/css/materialize.css">
   <link rel="stylesheet" href="/css/partner.css">
</head>

<body>
   <!-- NAVBAR -->

   <%- include('../layouts/navbar.ejs') -%>

   <!-- MAIN PAGE -->

   <main class="container">
        <a class="backBtn" onclick="window.history.back();">Retour</a>
        <h2>Erreur !</h2>
        <div class="errorContainer">
            <%= error %>
        </div>
   
   </main>
   
   <!-- SCRIPTS -->
   <script src="/js/bin/materialize.js"></script>
   <script src="/js/bin/materialize-init.js"></script>



</body>

</html>