<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8" />
   <title>Errorrrr</title>
   <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
   <link href='/css/style.css' rel='stylesheet' />
   <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/css/materialize.css">
   <link rel="stylesheet" href="/css/landingpage.css">
</head>

<body>
   <!-- NAVBAR -->

   <%- include('../layouts/navbar.ejs') -%>

   <!-- MAIN PAGE -->

   <a class="backBtn" onclick="window.history.back();"><i class="fas fa-arrow-left"></i></a>
   <main class="container">
      <div class="error-container">
         <div class="error"> Erreur ! </div>
         <div class="error-message">
            <%= error %>
         </div>
      </div>
   </main>

   <!-- SCRIPTS -->
   <script src="/js/bin/materialize.js"></script>
   <script src="/js/bin/materialize-init.js"></script>
</body>

</html>