<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Loop your box - Home page</title>
   <link rel="stylesheet" href="/css/materialize.css" />
   <link rel="stylesheet" href="/css/home.css">
   <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
</head>

<body>
   <nav id="navbar">
      <ul>
         <li><a href="#"><i class="fas fa-home"></i></a></li>
         <li><a href="#"><i class="fas fa-search"></i></a></li>
         <li><a href="#"><i class="fas fa-qrcode"></i></a></li>
         <li><a href="#"><i class="fas fa-map-marked-alt"></i></a></li>
         <li><a href="#"><i class="fas fa-user-cog"></i></a></li>
      </ul>
   </nav>
   <main class="container">
      <div class="title my-1">
         Home
      </div>
      <section class="white carousel-wrapper">

         <div class="carousel-title">Top rated restaurant</div>

         <div class="carousel carousel-slider" data-indicators="true">
            <div class="carousel-fixed-item">
            </div>
            <div class="carousel-item red lighten-2 white-text" href="#one!">
               <div class="container">
                  <h2>First Slide</h2>
                  <p class="white-text">
                     Etiam porta sem malesuada magna mollis euismod.
                  </p>
               </div>
            </div>

            <div class="carousel-item amber darken-2 white-text" href="#two!">
               <div class="container">
                  <h2>Second Slide</h2>
                  <p class="white-text">
                     Etiam porta sem malesuada magna mollis euismod.
                  </p>
               </div>
            </div>

            <div class="carousel-item green white-text" href="#three!">
               <div class="container">
                  <h2>Third Slide</h2>
                  <p class="white-text">
                     Etiam porta sem malesuada magna mollis euismod.
                  </p>
               </div>
            </div>

            <div class="carousel-item blue white-text" href="#four!">
               <div class="container">
                  <h2>Fourth Slide</h2>
                  <p class="white-text">
                     Etiam porta sem malesuada magna mollis euismod.
                  </p>
               </div>
            </div>

         </div>

      </section>

      <section class="white carousel-wrapper">

         <div class="carousel-title">All restaurants</div>

         <div class="carousel carousel-slider" data-indicators="true">
            <div class="carousel-fixed-item">
            </div>
            <div class="carousel-item red lighten-2 white-text" href="#one!">
               <div class="container">
                  <h2>First Slide</h2>
                  <p class="white-text">
                     Etiam porta sem malesuada magna mollis euismod.
                  </p>
               </div>
            </div>

            <div class="carousel-item amber darken-2 white-text" href="#two!">
               <div class="container">
                  <h2>Second Slide</h2>
                  <p class="white-text">
                     Etiam porta sem malesuada magna mollis euismod.
                  </p>
               </div>
            </div>

            <div class="carousel-item green white-text" href="#three!">
               <div class="container">
                  <h2>Third Slide</h2>
                  <p class="white-text">
                     Etiam porta sem malesuada magna mollis euismod.
                  </p>
               </div>
            </div>

            <div class="carousel-item blue white-text" href="#four!">
               <div class="container">
                  <h2>Fourth Slide</h2>
                  <p class="white-text">
                     Etiam porta sem malesuada magna mollis euismod.
                  </p>
               </div>
            </div>

         </div>

      </section>

      <section class="white carousel-wrapper">

         <div class="carousel-title">Asian restaurants</div>

         <div class="carousel carousel-slider" data-indicators="true">
            <div class="carousel-fixed-item">
            </div>
            <div class="carousel-item red lighten-2 white-text" href="#one!">
               <div class="container">
                  <h2>First Slide</h2>
                  <p class="white-text">
                     Etiam porta sem malesuada magna mollis euismod.
                  </p>
               </div>
            </div>

            <div class="carousel-item amber darken-2 white-text" href="#two!">
               <div class="container">
                  <h2>Second Slide</h2>
                  <p class="white-text">
                     Etiam porta sem malesuada magna mollis euismod.
                  </p>
               </div>
            </div>

            <div class="carousel-item green white-text" href="#three!">
               <div class="container">
                  <h2>Third Slide</h2>
                  <p class="white-text">
                     Etiam porta sem malesuada magna mollis euismod.
                  </p>
               </div>
            </div>

            <div class="carousel-item blue white-text" href="#four!">
               <div class="container">
                  <h2>Fourth Slide</h2>
                  <p class="white-text">
                     Etiam porta sem malesuada magna mollis euismod.
                  </p>
               </div>
            </div>
         </div>
      </section>
      <div class="carousel-title">All restaurants</div>

      <div class="carousel carousel-slider" data-indicators="true">
         <div class="carousel-fixed-item">
         </div>
         <div class="carousel-item red lighten-2 white-text" href="#one!">
            <div class="container">
               <h2>First Slide</h2>
               <p class="white-text">
                  Etiam porta sem malesuada magna mollis euismod.
               </p>
            </div>
         </div>

         <div class="carousel-item amber darken-2 white-text" href="#two!">
            <div class="container">
               <h2>Second Slide</h2>
               <p class="white-text">
                  Etiam porta sem malesuada magna mollis euismod.
               </p>
            </div>
         </div>

         <div class="carousel-item green white-text" href="#three!">
            <div class="container">
               <h2>Third Slide</h2>
               <p class="white-text">
                  Etiam porta sem malesuada magna mollis euismod.
               </p>
            </div>
         </div>

         <div class="carousel-item blue white-text" href="#four!">
            <div class="container">
               <h2>Fourth Slide</h2>
               <p class="white-text">
                  Etiam porta sem malesuada magna mollis euismod.
               </p>
            </div>
         </div>

      </div>

      </section>
   </main>
   <script src="/js/bin/materialize.js"></script>
   <script src="/js/bin/materialize-init.js"></script>

</body>

</html>