<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loop Your Box - Landing Page</title>
    <link rel="stylesheet" href="/css/landingpage.css">
</head>
<body>
    <main class="container">
        <div class="wrapper">
            <div class="logo">
                <img src="img/logo.png" alt="loop your box's logo">
            </div>

            <div class="button">
                <a href="/login" class="button-login">
                    Se connecter
                </a >
                <a href="/register" class="button-register">
                    S'inscrire
                </a>
                <a href="/partner">Visiter l'app</a >
            </div>
        </div>
    </main>
    
    <!--SERVICE WORKER SCRIPT PWA-->
    <script> 
        window.addEventListener('load', () => { 
        registerSW(); 
        }); 
    
        // Register the Service Worker 
        async function registerSW() { 
        if ('serviceWorker' in navigator) { 
            try { 
            await navigator 
                    .serviceWorker 
                    .register('sw.js'); 
            } 
            catch (e) { 
            console.log('SW registration failed'); 
            } 
        } 
        } 
    </script>

</body>
</html>