<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loop Your Box - Landing Page</title>
    <link rel="stylesheet" href="/css/landingpage.css">
</head>
<body>
    <main class="container">
        <div class="wrapper">
            <div class="logo">
                <img src="img/logo.png" alt="loop your box's logo">
            </div>
            <div class="button">
                <a href="/user" class="button-login">
                    login
                </a >
                <a href="/createUser" class="button-register">
                    registera
                </a>
            </div>
        </div>
    </main>
</body>
</html>