<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loop Your Box - Landing Page</title>
    <link rel="stylesheet" href="/css/landingpage.css">
</head>
<body>
    <main class="container">
        <div class="wrapper">
            <div>
                OooOooOooOooOoooOoOOoOOooOOOOOOoops on dirait que tu n'es pas connecté !!!!!!!!!! 
            </div>
            <div class="button">
                <a href="/login" class="button-login">
                    Se connecter
                </a >
                <a href="/register" class="button-register">
                    S'inscrire
                </a>
            </div>
        </div>
    </main>
</body>
</html>