<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loop Your Box</title>
    <link rel="stylesheet" href="/css/landingpage.css">
    <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
</head>
<body>
    <a class="backBtn" onclick="window.history.back();"><i class="fas fa-arrow-left"></i></a>
    <main class="container">
        <div class="error-container">
            <div class="error"> Erreur ! </div>
            <div class="error-message"> Oups on dirait que tu n'es pas connecté ! </div>
        </div>
        <div class="wrapper">
            <div class="button">
                <a href="/login" class="button-login">
                    Se connecter
                </a >
                <a href="/register" class="button-register">
                    S'inscrire
                </a>
            </div>
        </div>
      
    </main>
</body>
</html>