<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <title>Local search app</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/dashboard_pages.css">
  <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>

</head>


<body>
  <!-- NARBAR -->
  <%- include('../../../layouts/navbar.ejs') -%>
  <a class="backBtn" onclick="window.history.back();"><i class="fas fa-arrow-left"></i></a>
  <div class="container">
    <div class="row">
      <h2 class="sub_page-heading">Liste des contenants</h2>
    </div>
    <div class="list">
      <% containerInfo.forEach((container) => { %>
        <a href="/container/<%= container._id %>">
        <div class="list-item">
          <%= container.name %>  <% if (container.default) {%> <%= X %><% }%> 
          <i class="fas fa-chevron-right"></i>
        </div>
      </a>
      <% }); %>
    </div>
    <div class="row">
      <a class="col s8 offset-s2 btn green darken-1" href="/createContainer">Add container</a>
   </div>
  </div>

</body>

</html>