<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>User Account</title>
   <link rel="stylesheet" href="/css/home.css">
   <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
</head>

<body>
<!-- NARBAR -->
<%- include('../../../layouts/navbar.ejs') -%>
    <div class="container">
        <div class="row">

            <p><a class="col s4 offset-s1 btn green darken-1" href="/dashboard/user">Utilisateur</a></p>
            <p><a class="col s4 offset-s2 btn green darken-1" href="/dashboard/partner">Partenaire</a></p>
            <p><a class="col s3 offset-s2 btn green darken-1 " href="/dashboard/container">Contenant</a></p>
            <p><a class="col s3 offset-s2 btn green darken-1 " href="/dashboard/history">Historique</a></p>

        </div>

    </div>

</body>

</html>