<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <title>Local search app</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/dashboard_pages.css">

  <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- NARBAR -->
  <%- include('../../../layouts/navbar.ejs') -%>
  <a class="backBtn" onclick="window.history.back();"><i class="fas fa-arrow-left"></i></a>
  <div class="container">
    <div class="row">
      <h2 class="sub_page-heading">History</h2>
    </div>
    <div class="list">
      <% historyInfo.forEach((history) => { %>
      <div class="list-item">
         <a href="/history/<%= history.reference %>"><%= history.reference %></a><i class="fas fa-chevron-right"></i>
      </div>
      <% }); %>
   </div>
  </div>

</body>


</html>