<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/materialize.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <a class="backBtn" onclick="window.history.back();">Retour</a>
        </div>
    </div>
    <script src="/js/bin/materialize.js"></script>
    <script src="/js/bin/materialize-init.js"></script>
</body>

</html>