<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/partner.css">
    <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- NARBAR -->
    <%- include('../../layouts/navbar.ejs') -%>
    <a class="backBtn" onclick="window.history.back();"><i class="fas fa-arrow-left"></i></a>
    <div class="row">
        <h2 class="sub_page-heading">Formulaire de contact</h2>
    </div>
    <div class="container">
        <form class="row" id="form-register" action="api/contact" method="POST">
            <label for="firstname">Prénom</label>
            <input type="text" name="firstname" class="validate" required>
            <label for="lastname">Nom</label>
            <input type="text" name="lastname" class="validate" required>
            <label for="email">Email</label>
            <input type="email" name="email" class="validate" required>
            <label for="object">Objet</label>
            <input type="text" name="object" class="validate" required>
            <label for="message">Message</label>
            <textarea id="message" class="materialize-textarea" name="message" rows="5" cols="120"></textarea>
            <button id="btn-paddding" class="col s12 waves-effect waves-light btn green darken-1">Envoyer</button>
        </form>
    </div>
    <script src="/js/bin/materialize.js"></script>
    <script src="/js/bin/materialize-init.js"></script>
</body>

</html>