<!DOCTYPE html>
<html>

<head>
   <meta charset='utf-8' />
   <title>Local search app</title>
   <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
   <link rel="stylesheet" href="/css/materialize.css">
   <link rel="stylesheet" href="/css/my_container.css">
   <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
</head>

<body>
   <!-- NARBAR -->
   <%- include('../../layouts/navbar.ejs') -%>

   <!-- MAIN -->
   <a class="backBtn" onclick="window.history.back();"><i class="fas fa-arrow-left"></i></a>
   <main class="container">
      <div class="row">
         <h2 class="sub_page-heading">List of containers</h2>
      </div>
      <div class="user-container">
         <% containerInfo.forEach((container) => { %>
         <div class="item-wrapper">
            <a href="/container/<%= container._id %>" class="container-item"><%= container.name %></a><i
               class="fas fa-chevron-right"></i>
         </div>
         <% }); %>
      </div>
      <% if (status === "partner" || status === "admin"){%>
      <div class="row">
         <a class="col s8 offset-s2 btn green darken-1" href="/createContainer">Add container</a>
      </div>
      <%}%>

   </main>

</body>

<script src="/js/bin/materialize.js"></script>
<script src="/js/bin/materialize-init.js"></script>

</html>