

.container{
    width: calc(100vw - 10px);
    margin: 0 auto;
}

.page-title {
    color: $primary-color;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
    text-transform: uppercase;
 }

 .sub_page-heading {
    margin: 1rem auto;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid $base-grey;
    color: $primary-color;
 }

 .backBtn {
     position: fixed;
     top: 0.4rem;
     left: 0.2rem;
     border-radius: 100%;
     font-size: 1.3rem;
    //  background: lighten($base-grey, 13%);
     color: $primary-color;
     padding: 0.9rem 1rem;
     z-index: 1000;
 }

#btn-padding {
     margin-top: 2rem;
 }