

.container{
    width: calc(100vw - 10px);
    margin: 0 auto;
}

.page-title {
    color: $primary-color;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
    text-transform: uppercase;
 }

 .sub_page-heading {
    margin: 1rem auto;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid $base-grey;
 }